*.pyc
dev/.vagrant 
dev/.vagrant/machines/default/virtualbox/action_provision
mockups/.sass-cache
photoplanet/photoplanet/settings/instagram.py
photoplanet/photoplanet.db
utils/*.jpg
utils/config.py
docs/build
htmlcov
.coverage
tags
