---

- name: Setup the Git repo
  git: repo={{ git_repo }} dest={{ project_path }} accept_hostkey=yes
  when: setup_git_repo
  tags: git
- name: Clone branch dev
  command: chdir={{ project_path }} git checkout dev  

