{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="large-9 columns" role="content">

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small"></div>
          <div class="large-8 columns">
            <h2>
            Login with</h2>

            <ul>
              <li><a href="{% url "socialauth_begin" "instagram" %}{% if next %}?next={{ next }}{% endif %}">Instagram</a></li>
              <li>...
            </ul>

          </div>
        </div>

      </article>

    </div>
{% endblock content %}
