{% extends "base.html" %}

{% block content %}
    <div class="large-9 columns" role="content">

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small"></div>
          <div class="large-8 columns">
<h2>
<a name="description" class="anchor" href="#description"><span class="mini-icon mini-icon-link"></span></a>Description</h2>


<p>Photo Planet is a web application that aggregates photos from social media (Twitter, Instagram and others). An example of such application may be:</p>

<ul>
<li>Photos taken in some city or region (Donetsk, Kyiv, Crimea etc.)</li>
<li>Photos that players and fans of your favorite sport team take (Shakhtar, Donbass HC, Barcelona etc.)</li>
<li><a href="http://boobstagram.fr/">Boobstagram</a></li>
<li><a href="http://richkidsofinstagram.tumblr.com/">Rich kids of Instagram</a></li>
<li>...</li>
</ul><p>From Wikipedia: In online media, Planet is a feed aggregator application designed to collect posts from the weblogs of members of an Internet community and display them on a single page. <a href="http://www.planetplanet.org/">One such aggregator</a> was written in Python. It powers for example <a href="http://planet.python.org/">Python Planet</a> with posts about Python itself.</p>

<p><a href="{% url 'feedback' %}">Give some feedback</a></p>
          </div>
        </div>


      </article>


    </div>
{% endblock content %}
