{% load staticfiles %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>PhotoPlanet - All Photos</title>

  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/pp.css" %}">

  <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>

</head>
<body>

  <!-- Nav Bar -->

  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right hide-for-small">
       <ul class="button-group">
         <li><a href="day.html" class="button">Today</a></li>
         <li><a href="all.html" class="button">All</a></li>
         <li><a href="about.html" class="button">About</a></li>
         <li><a href="login.html" class="button">Login</a></li>
        </ul>
      </div>
      <h1>
        <a href="/">PhotoPlanet</a>
        <small>It's awesome.</small></h1>
      <hr />
    </div>
  </div>

  <!-- End Nav -->


  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{% static "img/profile_201076600_75sq_1364110539.jpg" %}" alt="avatar" />
            <h6><a href="#">@vitaods</a></h6>
          </div>
          <div class="large-8 columns centered">
            <img src="{% static "img/005e5982a92911e2a9ff22000aaa0374_6.jpg" %}" /><br />
            <h6 class="show-for-small"><a href="#">@vitaods</a></h6>
            <div class="voting">
                          <a href="#">up</a> |
                          <a href="#">down</a>
            </div>
          </div>
        </div>

      </article>

      <hr />

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{% static "img/profile_254369646_75sq_1364538697.jpg" %}" alt="avatar" />
            <h6><a href="#">@ebabash</a></h6>
          </div>
          <div class="large-8 columns centered">
            <img src="{% static "img/025e32f2a91011e2ada322000a1fbcdb_6.jpg" %}" />
            <h6 class="show-for-small"><a href="#">@vitaods</a></h6>
            <div class="voting">
                          <a href="#">up</a> |
                          <a href="#">down</a>
            </div>
          </div>
        </div>

      </article>

      <hr />

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{% static "img/profile_28344997_75sq_1362660285.jpg" %}" alt="avatar" />
            <h6><a href="#">@rolenyatko</a></h6>
          </div>
          <div class="large-8 columns centered">
            <img src="{% static "img/19f50c56a91011e2b39c22000a1f8adc_6.jpg" %}" />
            <h6 class="show-for-small"><a href="#">@vitaods</a></h6>
            <div class="voting">
                          <a href="#">up</a> |
                          <a href="#">down</a>
            </div>
          </div>
        </div>

      </article>

      <hr />

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{% static "img/profile_284788534_75sq_1362858679.jpg" %}" alt="avatar" />
            <h6><a href="#">@vitaods</a></h6>
          </div>
          <div class="large-8 columns centered">
            <img src="{% static "img/3b0308fea92311e2af2c22000a1f9069_6.jpg" %}" />
            <h6 class="show-for-small"><a href="#">@vitaods</a></h6>
            <div class="voting">
                          <a href="#">up</a> |
                          <a href="#">down</a>
            </div>
          </div>
        </div>

      </article>

      <hr />

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{% static "img/profile_35307422_75sq_1355919594.jpg" %}" alt="avatar" />
            <h6><a href="#">@vitaods</a></h6>
          </div>
          <div class="large-8 columns centered">
            <img src="{% static "img/444ae54cc2ee11e1aee522000a1e8a5f_6.jpg" %}" />
            <h6 class="show-for-small"><a href="#">@vitaods</a></h6>
            <div class="voting">
                          <a href="#">up</a> |
                          <a href="#">down</a>
            </div>
          </div>
        </div>

      </article>

      <div class="row pagination-row">
        <div class="large-4 columns hide-for-small"></div>
        <div class="large-8 columns pagination-centered">
          <ul class="pagination">
            <li class="arrow unavailable"><a href="">&laquo;</a></li>
            <li class="current"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li class="unavailable"><a href="">&hellip;</a></li>
            <li><a href="">12</a></li>
            <li><a href="">13</a></li>
            <li class="arrow"><a href="">&raquo;</a></li>
          </ul>
        </div>
      </div>

    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="large-3 columns">

      <div class="panel">
        <h5>Sidebar</h5>
        <p>Some information may go here.</p>
        <a href="#">Read More &rarr;</a>
      </div>

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="day.html">Today</a></li>
            <li><a href="all.html">All</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="login.html">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>

  <!-- End Footer -->
</body>
</html>
