{% extends "base.html" %}
{% load staticfiles %}
{% load photoplanet_extra %}


{% block content %}
    <div class="large-9 columns" role="content">

      {% for p in photos %}

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{{ p.user_avatar_url }}" alt="avatar" />
            <h6><a href="{% instagram_url p.username %}" target="_blank">@{{ p.username }}</a></h6>
          </div>
          <div class="large-8 columns centered">
            <img src="{{ p.photo_url }}" alt="photo" /><br />
            <h6 class="show-for-small"><a href="#">@vitaods</a></h6>
            <div class="time"><a href="photo.html"> 
                {{ p.created_time }}
              </a>
            likes: {{ p.like_count }}
            </div>
            <div class="voting">
                          <a href="#">up</a> |
                          <a href="#">down</a>
            </div>
          </div>
        </div>

      </article>

      {% if not forloop.last %}
      <hr />
      {% endif %}
      
      {% endfor %}

    </div>
{% endblock content %}
