{% extends "base.html" %}
{% load staticfiles %}
{% load photoplanet_extra %}


{% block content %}
    <div class="large-9 columns" role="content">

      {% for p in photos %}

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{{ p.user_avatar_url }}" alt="avatar" />
            <h6><a href="{% instagram_url p.username %}" target="_blank">@{{ p.username }}</a></h6>
          </div>
          <div class="large-8 columns centered">
            <img src="{{ p.photo_url }}" alt="photo" /><br />
            <h6 class="show-for-small"><a href="{% instagram_url p.username %}" target="_blank">@{{ p.username }}</a></h6>
            <div class="time"><a href="photo.html"> 
                {{ p.created_time }}
              </a>
            likes: {{ p.like_count }}
            </div>
            <div class="voting">
                          <a href="#">up</a> |
                          <a href="#">down</a>
            </div>
          </div>
        </div>

      </article>

      {% if not forloop.last %}
      <hr />
      {% endif %}
      
      {% endfor %}

      <div class="row pagination-row">
        <div class="large-4 columns hide-for-small"></div>
        <div class="large-8 columns pagination-centered">
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <li class="current"><a href="#">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="arrow"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}
          </ul>
        </div>
      </div>

    </div>
{% endblock content %}
