{% extends "base.html" %}
{% load staticfiles %}
{% load photoplanet_extra %}


{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock css %}


{% block content %}
    <div class="large-9 columns" role="content">

      {% if not photos %}
      <article>
        <div class="row">
          <div class="large-4 columns hide-for-small">
          </div>
          <div class="large-8 columns centered">
            No photos were voted today. Browse around and upvote.
          </div>
        </div>
      </article>
      {% endif %}

      {% for p in photos %}

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{{ p.user_avatar_url }}" alt="avatar" />
            <h6><a href="{% instagram_url p.username %}" target="_blank">@{{ p.username }}</a></h6>
          </div>
          <div class="large-8 columns centered">
            <img src="{{ p.photo_url }}" alt="photo" /><br />
            <h6 class="show-for-small"><a href="{% instagram_url p.username %}" target="_blank">@{{ p.username }}</a></h6>
            <div class="time"><a href="{% url 'photo-detail' p.id %}"> 
                {{ p.created_time }}
              </a> -- 
            likes: {{ p.like_count }} --
            votes: {{ p.vote_count }}
            </div>
          </div>
        </div>

      </article>

      {% if not forloop.last %}
      <hr />
      {% endif %}

      {% endfor %}

    </div>
{% endblock content %}
