{% extends "base.html" %}
{% load staticfiles %}
{% load photoplanet_extra %}


{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock css %}


{% block content %}
    <div class="large-9 columns" role="content">

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{% static "img/profile_201076600_75sq_1364110539.jpg" %}" alt="avatar" />
            <h6><a href="#">@vitaods</a></h6>
          </div>
          <div class="large-8 columns centered">
            <img src="{% static "img/005e5982a92911e2a9ff22000aaa0374_6.jpg" %}" /><br />
            <h6 class="show-for-small"><a href="#">@vitaods</a></h6>
            <div class="time"><a href="photo.html"> {% current_time "%H:%M" %} </a></div>
          </div>
        </div>

      </article>

      <hr />

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{% static "img/profile_254369646_75sq_1364538697.jpg" %}" alt="avatar" />
            <h6><a href="#">@ebabash</a></h6>
          </div>
          <div class="large-8 columns centered">
            <img src="{% static "img/025e32f2a91011e2ada322000a1fbcdb_6.jpg" %}" />
            <h6 class="show-for-small"><a href="#">@vitaods</a></h6>
            <div class="time"><a href="photo.html">13:37</a></div>
          </div>
        </div>

      </article>

      <hr />

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{% static "img/profile_28344997_75sq_1362660285.jpg" %}" alt="avatar" />
            <h6><a href="#">@rolenyatko</a></h6>
          </div>
          <div class="large-8 columns centered">
            <img src="{% static "img/19f50c56a91011e2b39c22000a1f8adc_6.jpg" %}" />
            <h6 class="show-for-small"><a href="#">@vitaods</a></h6>
            <div class="time"><a href="photo.html">09:09</a></div>
          </div>
        </div>

      </article>

      <hr />

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{% static "img/profile_284788534_75sq_1362858679.jpg" %}" alt="avatar" />
            <h6><a href="#">@vitaods</a></h6>
          </div>
          <div class="large-8 columns centered">
            <img src="{% static "img/3b0308fea92311e2af2c22000a1f9069_6.jpg" %}" />
            <h6 class="show-for-small"><a href="#">@vitaods</a></h6>
            <div class="time"><a href="photo.html">23:23</a></div>
          </div>
        </div>

      </article>

      <hr />

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{% static "img/profile_35307422_75sq_1355919594.jpg" %}" alt="avatar" />
            <h6><a href="#">@vitaods</a></h6>
          </div>
          <div class="large-8 columns centered">
            <img src="{% static "img/444ae54cc2ee11e1aee522000a1e8a5f_6.jpg" %}" />
            <h6 class="show-for-small"><a href="#">@vitaods</a></h6>
            <div class="time"><a href="photo.html">11:11</a></div>
          </div>
        </div>

      </article>

      <div class="row pagination-row">
        <div class="large-4 columns hide-for-small"></div>
        <div class="large-8 columns pagination-centered">
          <a href="day.html">&larr; 2013-04-01 </a> -  {% current_time "%Y-%m-%d" %} 
        </div>
      </div>

    </div>
{% endblock content %}
