{% extends "base.html" %}
{% load staticfiles %}
{% load photoplanet_extra %}

{% block js %} {{ block.super }}
  <script src="{% static "js/vote.js" %}"></script>
{% endblock js %}

{% block content %}
    <div class="large-9 columns" role="content">

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{{ photo.user_avatar_url }}" alt="avatar" />
            <h6><a href="{% instagram_url photo.username %}" target="_blank">@{{ photo.username }}</a></h6>
          </div>
          <div class="large-8 columns centered photo" data-photoid="{{ photo.pk }}">
            <img src="{{ photo.photo_url }}" alt="photo" /><br />
            <h6 class="show-for-small"><a href="{% instagram_url photo.username %}" target="_blank">@{{ photo.username }}</a></h6>
            <div class="time">
                {{ photo.created_time }}
            likes: {{ photo.like_count }}
            </div>
            {% include "photoplanet/voting.html" %}
          </div>
        </div>

      </article>

    </div>
{% endblock content %}
