{% extends "base.html" %}
{% load staticfiles %}
{% load photoplanet_extra %}

{% block js %} {{ block.super }}
  <script src="{% static "js/vote.js" %}"></script>
{% endblock js %}

{% block content %}
    <div class="large-9 columns" role="content">

      {% if not object_list %}
      <article>
        <div class="row">
          <div class="large-4 columns hide-for-small">
          </div>
          <div class="large-8 columns centered">
            No photos were voted this day.
          </div>
        </div>
      </article>
      {% endif %}

      {% for photo in object_list %}

      <article>

        <div class="row">
          <div class="large-4 columns hide-for-small">
            <img src="{{ photo.user_avatar_url }}" alt="avatar" />
            <h6><a href="{% instagram_url photo.username %}" target="_blank">@{{ photo.username }}</a></h6>
          </div>
          <div class="large-8 columns centered photo" data-photoid="{{ photo.pk }}">
            <img src="{{ photo.photo_url }}" alt="photo" /><br />
            <h6 class="show-for-small"><a href="{% instagram_url photo.username %}" target="_blank">@{{ photo.username }}</a></h6>
            <div class="time"><a href="{% url 'photo-detail' photo.id %}"> 
                {{ photo.created_time }}
              </a>
            <br>
	    {{ photo.caption}}
            <br>  
            likes: {{ photo.like_count }}
            <!-- TODO: remove: vote_prediction: {{ photo.vote_prediction }} -->
            </div>
            {% include "photoplanet/voting.html" %}
          </div>
        </div>

      </article>

      {% if not forloop.last %}
      <hr />
      {% endif %}
      
      {% endfor %}

      <div class="row pagination-row">
        <div class="large-4 columns hide-for-small"></div>
        <div class="large-8 columns pagination-centered">
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <li class="current"><a href="#">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="arrow"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}
          </ul>
        </div>
      </div>

      <div class="row pagination-row">
        <div class="large-4 columns hide-for-small"></div>
        <div class="large-8 columns pagination-centered">
          <ul class="pagination">

            <p>
                {% if previous_day %}
                    &larr; 
                    <a href="{% url "photo-date-view" previous_day.year previous_day.month previous_day.day %}">
                    {{ previous_day |date:"Y-m-d"}}
                    </a>
                {% endif %}
                {% if previous_day and next_day %}--{% endif %}
                {% if next_day %}
                    <a href="{% url "photo-date-view" next_day.year next_day.month next_day.day %}">
                    {{ next_day |date:"Y-m-d" }} 
                    </a>
                    &rarr;
                {% endif %}
            </p>

          </ul>
        </div>
      </div>

    </div>
{% endblock content %}
